  <div class="page-header">
    <h3>Create event</h3>
  </div>
  <form name="createEventForm" class="form-horizontal" novalidate>
    <!-- Event name -->
    <div class="form-group" ng-class="{ 'has-error' : createEventForm.eventName.$invalid && !createEventForm.eventName.$pristine }">
      <label class="control-label col-md-2">Event name</label>
      <div class="col-md-4">
        <input type="text" id="eventname" name="eventName" ng-model="vm.newEvent.eventName"  class="form-control"
        required ng-minlength="2" ng-maxlength="20" autofocus/>
      </div>
      <div class="col-md-3 err-col">
        <span ng-show="createEventForm.eventName.$dirty && createEventForm.eventName.$error.required" class="help-block">Event name is required</span>
        <span ng-show="createEventForm.eventName.$dirty && createEventForm.eventName.$error.minlength" class="help-block">Event name is too short</span>
        <span ng-show="createEventForm.eventName.$dirty && createEventForm.eventName.$error.maxlength" class="help-block">Event name is too long</span>
      </div>      
    </div>
    <!-- Event description -->
    <div class="form-group" ng-class="{ 'has-error' : createEventForm.eventDescription.$invalid && !createEventForm.eventDescription.$pristine }">
      <label class="control-label col-md-2">Event description</label>
      <div class="col-md-4">
        <textarea type="text" id="eventdescription" name="eventDescription" ng-model="vm.newEvent.eventDescription"  class="form-control" required rows="4"/>
      </div>
      <div class="col-md-3 err-col">
        <span ng-show="createEventForm.eventDescription.$dirty && createEventForm.eventDescription.$error.required" class="help-block">Event description is required</span>
      </div>                    
    </div>
    <!-- Event date -->
    <div class="form-group" ng-class="{ 'has-error' : createEventForm.eventDate.$invalid && !createEventForm.eventDate.$pristine }">
      <label class="control-label col-md-2">Event date</label>
      <div class="col-md-4">
          <div class='input-group date' >
            <input type='text' class="form-control" name="eventDate" ng-model="vm.newEvent.dateTime"
              data-date-format="yyyy-MM-dd" data-autoclose="1" required bs-datepicker/>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
      </div>
      <div class="col-md-3 err-col">
        <span ng-show="createEventForm.eventDate.$dirty && createEventForm.eventDate.$error.required" class="help-block">Event date is required</span>
      </div>       
    </div>
    <!-- Event time -->
    <div class="form-group" ng-class="{ 'has-error' : createEventForm.eventTime.$invalid && 
      !createEventForm.eventTime.$pristine }">
      <label class="control-label col-md-2">Event time</label>
      <div class="col-md-4">
          <div class='input-group date' >
            <input type="text" class="form-control" name="eventTime" size="8" ng-model="vm.newEvent.dateTime" data-time-format="HH:mm"  required bs-timepicker>
            <span class="input-group-addon">
            <span class="glyphicon glyphicon-time"></span>
            </span>
          </div>                
      </div>
      <div class="col-md-3 err-col">
        <span ng-show="createEventForm.eventTime.$dirty && createEventForm.eventTime.$error.required" class="help-block">Event time is required</span>
      </div>      
    </div>
    <!-- Event logo -->
    <div class="form-group">
      <label class="control-label col-md-2">Event logo</label>
      <div class="col-md-1">
          <div class="btn btn-default" name="eventLogo"ngf-select ng-model="picImage" ngf-multiple="false" accept="image/*" required>Select File</div>
      </div>
      <div class="col-md-2">
        <div class="preview">
          <img ng-show="picImage != null" ngf-src="picImage" class="thumb" >
         </div>          
      </div>
    </div>               
    <!-- Save button -->
    <div class="form-group">
      <div class="row">
        <div class="col-md-6">
          <button type="submit" class="btn btn-info pull-right" ng-click="vm.createEvent(picImage, vm.newEvent)" ng-disabled="createEventForm.$invalid">Save</button>  
        </div>
      </div>
    </div>
  </form>  

