<div class="container">
<!--   <div class="page-header" style="border-bottom: 0px;">
    <h2>User</h2>
  </div> -->
  <tabset>
    <tab heading="Events">
		<div class="panel-body">Events List</div>
    </tab>
        <tab heading="My events">
		<div class="panel-body">My events List</div>
    </tab>
    <tab heading="Visits">
    	<div class="panel-body">Visits List</div>
    </tab>
    <tab heading="Create event">
        <div class="panel-body">
            Create event form
		</div>
    </tab>
    <tab ng-model="tab" heading="{{tab.title}}" active="tab.active" disable="tab.disabled">
    	<div class="panel-body">{{tab.content}}</div>
  </tabset>
</div>