<div class="container">
  <div class="page-header" style="border-bottom: 0px;">
    <h2>Events</h2>
  </div>

  <!-- Search panel-->
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="row search">
        <div class='col-sm-1'>
          <h4>Search:</h4>
        </div>
        <div class='col-sm-3'>
            <div class="form-group">
              <div class='input-group date'>
                <input type='text' class="form-control" ng-model="fromDate" data-date-format="yyyy-MM-dd" data-max-date="{{untilDate}}" placeholder="From" data-autoclose="1" bs-datepicker/>
                <span class="input-group-addon">
                <span class="glyphicon glyphicon-calendar"></span>
                </span>
              </div>
            </div>
        </div>

        <div class='col-sm-3'>
          <div class="form-group">
            <div class='input-group date' >
              <input type='text' class="form-control" ng-model="untilDate" data-date-format="yyyy-MM-dd" data-min-date="{{fromDate}}" placeholder="Until" data-autoclose="1" bs-datepicker/>
              <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
              </span>
            </div>
          </div>
        </div>
        <div class='col-sm-1'>
            <button class="btn btn-default pull-right" ng-click="vm.getEventsbyDate(fromDate, untilDate)">search</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Content -->
  <table class="table table-striped" >
    <thead>
      <tr>
        <th>Event</th>
        <th>Description</th>
        <th>Date</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="event in vm.allEvents">
        <td>{{ event.EventName }}</td>
        <td>{{ event.EventDescription }}</td>
        <td>{{ event.Date | date:'medium' }}</td>
        <td>
          <button type="button" class="btn btn-default pull-right" ng-click="vm.addVisit(event.Id)">Visit</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
